<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pharmacist Scheduling</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse"> #}
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" </a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href=#>Pharmacist Scheduling</a></li>
            <li><a class="navbar-brand" href=#>Something</a></li>
          </ul>

         {#   <ul class="nav navbar-nav navbar-right">
            {% if user.has_role('admin') %}
              <li><a class="navbar-brand" href="{{ url_for('admin.index') }}">{{ _('Admin') }}</a></li>
            {% endif %}
            {% if not user.is_authenticated() %}
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{ _('Log In') }}</a></li>
            {% else %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> {{ _('Log Out') }}</a></li>
            {% endif %}
          </ul> #}

          
        </div>
      </div>
    </nav>

    <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul><br/>
      {% endif %}
    {% endwith %}
    {% block container %}{% endblock %}
    </div>
<div>{% block body %}{% endblock %}</div>
   <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
</html>